<div class="footer_content_class">
    <p class="text_footer_class"><a href="" class="link_footer_class">Spécialités médicales</a></p>
    <p class="text_footer_class"><a href="" class="link_footer_class">Politique de confidentialité</a></p>
    <p class="text_footer_class"><a href="" class="link_footer_class">Coordonnées de contact</a></p>
</div>