h1.title_section_class{
    text-align: center;
    margin-top: 0;
    margin-bottom: 100px;
    color: darkorange;
}

div.btn_home_container_class{
    display: flex;
    flex-direction: column;
}

button.btn_make_an_appointment, button.btn_update_an_appointment,
button.btn_cancel_an_appointment{
    cursor: pointer;
    width: 400px;
    height: 50px;
    padding: 0;
    border: 1px solid darkorange;
    background-color: darkorange;
    color: white;
}

a.link_btn_make_an_appointment, a.link_btn_update_an_appointment,
a.link_btn_cancel_an_appointment{
    width: 400px;
    height: 50px;
    margin: 5px;
}

div.btnGroupe_home_container_class{
    display: flex;
    justify-content: center;
}