/*style header*/
.link_logo_class{
    width: 54px;
    display: flex;

}

.logo_header_class{
    width: 50px;
    border: 2px solid darkorange;
    border-radius: 10px;
}

.img_user_header_class{
    width: 50px;
    border: 2px solid darkorange;
    border-radius: 10px;
    margin-right: 5px;
}


.link_connexion_inscription_class{
    display: flex;
}

ul.menue_header_class{
    list-style: none;
    padding: 0;
    display: flex;
    visibility: visible;
    background-color: white;
    z-index: 1;
}

li.rubrique{
    margin-right: 15px;
    margin-left: 15px;
}

a.link_rubrique,a.link_connexion_inscription_class{
    text-decoration: none;
    color: darkorange;
}


.header_content_class{
    display: flex;
    justify-content: space-between;
}



.icone_menue_header_class{
    display: none;
    width: 50px;
    border: 2px solid darkorange;
    border-radius: 10px;
}


.menue_deroulant_class{
    display: flex;
}


/*responsive header*/

@media screen and (max-width: 738px) {

    ul.menue_header_class{
        display:flex;
        flex-direction: column;
        position: absolute;
        top:39px;
        left:-27px;
        visibility: hidden;
        border: darkorange 2px solid;
        border-radius: 0px 0px 20px 20px;
        padding: 3px;
    }

    li.rubrique{
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .menue_deroulant_class{
        position: relative;

    }


    .icone_menue_header_class {
        display: flex;
        justify-content: center;
    }

}


@media screen and (max-width: 379px) {

    .p_connexion_inscriptin_class{
        display: none;
    }

    .header_content_class{
        justify-content: center;
    }

    .link_logo_class,.icone_menue_header_class{
        margin-right:5px;
    }
}