{% extends 'bases/base.html.twig' %}

{% block title %}Home page{% endblock %}

    {% block body %}

        <section class="home_section_class">

            <h1 class="title_section_class">Bienvenue sur votre plateforme de gestion de rendez-vous medical</h1>

            <div class="btnGroupe_home_container_class">

                <div class="btn_home_container_class">

                    <a href="" class="link_btn_make_an_appointment">
                        <button type="button" class="btn_make_an_appointment">PRENDRE UN RENDEZ-VOUS</button>
                    </a>

                    <a href="" class="link_btn_update_an_appointment">
                        <button type="button" class="btn_update_an_appointment">MODIFIER UN RENDEZ-VOUS</button>
                    </a>

                    <a href="" class="link_btn_cancel_an_appointment">
                        <button type="button" class="btn_cancel_an_appointment">ANNULER UN RENDEZ-VOUS</button>
                    </a>

                </div>

            </div>

        </section>

    {% endblock %}
