
<nav class="nav_class">

    <ul class="ul_class">

        <a href="/home" class="lien_logo_class"><img src="{{ asset('images/logo_jeuxVideos.png') }}" alt="logo" class="logo_class"></a>
        <li class="li_class"><a href="/home" class="">ACCUEIL</a></li>
        <li class="li_class"><a href="/home/games" class="">JEUX VIDEOS</a></li>
        <li class="li_class"><a href="/home/offres" class="">OFFRES</a></li>
        <li class="li_class"><a href="/home/infos" class="">NOUS</a></li>
        <li class="li_class"><a href="/home/boutiques" class="">NOS BOUTIQUES</a></li>
        <li class="li_class" id="six_id"><a href="/home/contacts" class="">CONTACTS</a></li>
        <a href="/home/login" class="lien_iconeConnexion_class"><img src="{{asset('images/icone_connexion.png') }}" alt="logo" class="icone_connexion"/></a>

    </ul>
</nav>