
    <nav class="nav_header_class">

        <div class="header_content_class">

            <a href="" class="link_logo_class">

                <img src="images/logoUsers.png" class="logo_header_class">

            </a>

            <div class="menue_deroulant_class" id="menue_deroulant_id">

                <img src="images/icone_menue.png" class="icone_menue_header_class" id="icone_menue_header_id">

                <ul class="menue_header_class" id="menue_header_id">

                    <li class="rubrique">
                        <a href="" class="link_rubrique">ACCUEIL</a>
                    </li>

                    <li class="rubrique">
                        <a href="" class="link_rubrique">ACCUEIL</a>
                    </li>

                    <li class="rubrique">
                        <a href="" class="link_rubrique">ACCUEIL</a>
                    </li>

                    <li class="rubrique">
                        <a href="" class="link_rubrique">ACCUEIL</a>
                    </li>


                </ul>

            </div>

            <a href="" class="link_connexion_inscription_class">

                <img src="images/icone_connexion.png" class="img_user_header_class">

                <p class="p_connexion_inscriptin_class">
                    Connexion | Inscription
                </p>

            </a>

        </div>

    </nav>
